/* .HeroCarrer {
  background-image: url("../../Assets/carrers/her.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;  
} */
