@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Habibi&display=swap");

body {
}

.fontl {
  font-family: "Poppins";
}

.mobile-scroll {
  position: relative;
  padding-top: 70px;
  padding-bottom: 100px;
  /* background-color: rgb(32 30 30); */
}

.scroll-full-screen-wrapper {
  width: 50%;
}

.non-mobile {
  display: block;
}

.scroll-full-screen {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.mobile-mockup-wrapper {
  width: 50%;
}

.mobile-mockup {
  position: sticky;
  top: 13vh;
  transform: translateX(30%);
  width: 350px;
  height: 600px;
  /* box-shadow: var(--mobile-box-shadow); */
  border-radius: 46px;
  padding: 16px 14px;
  max-height: 100vh;
  box-shadow: rgba(250, 250, 255, 0.16) 0px -5px 6px 0px inset,
    rgba(38, 37, 37, 0.24) 4px 6px 11px 1px inset;
}

.only-mobile {
  display: none;
}

.mobile-mockup-screen {
  /* background-color: var(--mobile-bg); */
  overflow: hidden;
  height: 100%;
  border-radius: inherit;
}

.mobile-screen-img {
  height: 100%;
  object-fit: contain;
}

.screen-text {
  color: #fff;
  opacity: 0;
  padding-bottom: 80px;
}

.text-visible {
  opacity: 1;
  transition: 0.6s;
}

.screen-heading {
  margin-left: 10%;
  font-size: 50px;
  font-weight: 700;
  line-height: 70px;
}

.screen-description {
  font-size: 20px;
  font-weight: 400;
  font-family: "Habibi", serif;
  margin-left: 10%;
  margin-top: 52px;
}

@media all and (max-width: 1279px) {
  .screen-heading {
    font-size: 50px;
    font-weight: 700;
    line-height: 105px;
  }

  .mobile-mockup-wrapper {
    width: 45%;
  }

  .screen-description {
    font-size: 20px;
    font-weight: 400;

    margin-top: 52px;
  }

  .mobile-scroll {
    padding-bottom: 30px;
  }

  .mobile-mockup {
    width: 272px;
    height: 480px;
  }

  .mobile-mockup {
    transform: translateX(10%);
  }
}

@media all and (max-width: 767px) {
  body {
    text-align: left;
    justify-content: center;
  }

  .mobile-mockup-wrapper {
    width: 100%;
  }

  .mobile-mockup {
    transform: translateX(0%);
  }

  .mobile-scroll {
    padding-bottom: 0px;
  }

  .mobile-mockup {
    width: 272px;
    height: 480px;
  }

  .screen-heading {
    display: flex;
    justify-content: center;
    margin-right: 10%;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .scroll-full-screen-wrapper {
    width: 100%;
  }

  .non-mobile {
    display: none;
  }

  .only-mobile {
    display: flex;
    justify-content: center;
  }

  .screen-description {
    font-size: 20px;
    font-weight: 400;

    margin-bottom: 10px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 52px;
  }
}

.slide-in-right {
  /* -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; */
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-17 21:54:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
